* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-text: hsl(0, 0%, 13%);
    --grey-text: hsl(0, 0%, 29%);
    --light-text: hsl(0, 0%, 45%);
}

body {
    background: #e4e9f7;
    border-top: 30vh solid #272e5c;
    font-family: 'Noto Sans TC';
    color: var(--dark-text);
    overflow-x: hidden;
}

#quote-box {
    display: block;
    margin: -15vh auto;
    height: auto;
    width: 45vw;
    background: #ced4da;
    color: var(--grey-text);
    border-radius: 6px;
    box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

h1 {
    text-align: center;
    display: block;
    padding: 2.5rem 1rem;
    background: hsl(220, 12%, 95%);
    font-family: 'Noto Sans TC';
    color: var(--dark-text);
    font-size: 1.6rem;
}

#dev-img {
    width: 7rem;
    height: 7rem;
    background: #c5d2f4;
    border-radius: 50%;
    border: 3px solid #f8f9fa;
    position: absolute;
    top: -4rem;
    left: 2rem;
}

#quote-icon {
    color: var(--light-text);
    margin-right: .5rem;
    opacity: .3;
    font-size: 2rem;
}

#quote-text {
    background: #f8f9fa;
    padding: 6rem;
    padding-top: 5rem;
    position: relative;
    line-height: 1.8;
    height: 40vh;
}

#text {
    text-align: center;
}

#author {
    position: absolute;
    right: 10em;
    margin-top: 1rem;
    color: var(--light-text);
}

#new-quote {
    border: 0;
    background: #ff6a6b;
    color: rgba(255, 255, 255, 0.89);
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 1rem;
    margin: 1rem;
    margin-right: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all .4s;
}

#new-quote:hover {
    background: #fa5252;
}

#tweet-quote:hover {
    cursor: pointer;
}

#tweet-quote:hover #twitter-icon {
    color: #0084b4;
}

#twitter-icon {
    font-size: 2rem;
    vertical-align: middle;
    color: #00aced;
}

@media only screen and (max-width: 1130px) {
    #quote-text {
        padding: 5rem 2rem 6rem;
    }
    #dev-img {
        top: -2.5rem;
        left: 2rem;
    }
    #author {
        right: 3em;
    }
}

@media only screen and (max-width: 800px) {
    #quote-box {
        width: 85vw;
    }
    #quote-text {
        height: auto;
        padding-bottom: 4rem;
    }
    #text {
        text-align: left;
    }
}

@media only screen and (max-width: 455px) {
    #quote-box {
        margin: -20vh auto;
    }
}

